* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #b0f1c5;
  color: #333;
}

#selectionItems {
  margin-top: 50px;
  margin-left: 50px;
}

#selectionItems div {
  display: inline-table;
  width: 250px;
  height: 250px;
  border: 5px solid brown;
  border-radius: 5%;
  margin-left: 25px;
}

#results {
  margin-left: 25px;
  width: 75%;
  height: 75%;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}
